<!DOCTYPE html>
<!--	
   FREE SINGLE PAGE DESIGN BY AYATHEMES.COM
	Free for personal and commercial use under the CCA 3.0 license (AYATHEMES/COM/license)
-->
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Urban Connoisseur</title>
  <!-- Bootstrap -->
  {% load staticfiles %}
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/font-awesome.min.css' %}" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" >

<style>
body{
	background-color: #2f4f4f;
}
section{
	background-color: #43BFC7;
}
label{
  display: inline-block;
  width: 500px;
  text-align: left;
  font-size: 16px;
}​
div.hidden{
	display: none;
	visibility: hidden;
}
</style>

</head>
  <body>
  
  	<a name = "Top"></a>
  <div id="carousel1" class="carousel slide" data-ride="carousel">
  	<div class="carousel-inner" role="listbox">
  		<div class="item active">
			<img src="{% static 'images/CapOne.png' %}" alt="First slide image" class="center-block" style="width:70%;height:70%;">
		</div>
	  </div>

	</div>

	<section class="container section">
		<center style="font-size: 20px;">
			<button><a href="#Works" style="color: #000000">How Does It Work?</a></button>
			<button><a href="#Prefs" style="color: #000000">Enter Your Preferences</a></button>
		</center>
	</section>
 
 <!--features-->
 	<a name = "Works"></a>
  <section class="container section" id="features">
  	<h1 class="text-center text-uppercase" style="font-weight: bold; background-color: #2f4f4f; color: #ffffff; padding: 15px 30px;">How it works</h1>
  	<center><button><a href="#Top">Back to the Top</a></button></center>
  	<div style="color: #43BFC7;">'</div>
  	<div class="row">

		<div class="col-md-6">
			
			<h3 class="text-uppercase">what is it?</h3>
			<p style="font-size: 16px">Have you ever been in the mood to go out, but not known exactly what to do? Have you ever spent what seems like hours discussing what to eat with your friends or family? If so, Urban Connoisseur is here to help. It’s also here to help if neither of the above are true. It’s just that nice.</p>
  			<h3 class="text-uppercase">make your selection</h3>
			<p style="font-size: 16px">To use Urban Connoisseur, indicate what type of experience you’re looking for, be it a nice restaurant, or somewhere to meet up with friends. You then specify the maximum number of results you would like Urban Connoisseur to provide, and it will provide as many as it can up to that number. To determine what sort of results Urban Connoisseur will supply, enter your preferences for the various factors presented below.</p>
			<p style="font-size: 16px">Preferences can take on values from -10 to 10, depending on if you want to maximize or minimize a particular factor. For example, if you want a fancy dining experience close to home, you might enter an 8 for cost to indicate a desire for more expensive restaurants, but a -7 for distance to indicate a preference to avoid travelling very far. Preference values of 0 and blank preference boxes indicate that you don't care at all about a particular factor. So, if you're ambivalent to the number of flamingos near the location, put a 0 in the flamingos field, or leave it blank.</p>
			<p style="font-size: 16px">Once you've filled in all of your preferences, hit the submit button to see a list of the locations that best match up with your indicated preferences. Please note that to receive relevant results, you must permit Urban Connoisseur to use your location information.</p>
		</div>
  		<div class="col-md-6">
			<img src="https://media-cdn.tripadvisor.com/media/photo-s/02/91/b0/bf/filename-120402-stock.jpg" style="width:100%;height:100%;" class="pull-right"/>
		</div>
</div>
<!-- / row -->
  </section>

  <a name = "Prefs"></a>
  <section class="section container" id="blog">
  	<h1 class="text-center text-uppercase" style="font-weight: bold; background-color: #2f4f4f; color: #ffffff; padding: 15px 30px;">experience selector</h1>
  	<div class="row">

	 <div class="col-md-12">
	 <center><button><a href="#Top">Back to the Top</a></button></center>
  		<div>
  			<div class="caption">
  				
  				<form method="POST" action="/search" id="preferences">
					{% csrf_token %}
					<h3>What are you looking for?</h3>
					{% if prior %} <!-- Persisting preferences the hard way -->
						<div>
							<input type="radio" name="typeSelect" value = "1" id="1">
							<label>Restaurants</label>
						</div>
						<div>
							<input type="radio" name="typeSelect" value = "2" id="2">
							<label>Activities</label>
						</div>
						<div>
							<input type="radio" name="typeSelect" value = "3" id="3">
							<label>Entertainment</label>
						</div>
						<div>
							<input type="radio" name="typeSelect" value = "4" id="4">
							<label>Nightlife</label>
						</div>
						<script>
							document.getElementById({{prior.5}}).checked = "checked";
						</script>
						<h3 class="text-uppercase">Max number of desired results?</h3>
						<div>
							<input type="text" name="resuTextfield", value = "{{prior.4}}">
							<label>Assumes 3 by default (50 max)</label>
						</div>

						<h3 class="text-uppercase">Enter your preferences (-10 to 10)</h3>
						<div>
							<input oninput="rangeInputC.value=costTextfield.value" id="box" type="text" value="{{prior.0}}" name="costTextfield" for="rangeInputC" oninput="rangeInputC.value=costTextfield.value" />
							<label>Price: (-10 = Cheap) -> (10 = Expensive)</label>
							<input for="costTextfield" oninput="costTextfield.value=rangeInputC.value" value="{{prior.0}}" id="slider" type="range" min="-10" max="10" name="rangeInputC" style = "width: 50%"/>
						</div>
						<div style="color: #43BFC7;">'</div>
						<div>
							<input oninput="rangeInputD.value=distTextfield.value" id="box" type="text" value="{{prior.1}}" name="distTextfield" for="rangeInputD" oninput="rangeInputD.value=distTextfield.value" />
							<label>Distance: (-10 = Nearby) -> (10 = A Galaxy Far Far Away)</label>
							<input for="distTextfield" oninput="distTextfield.value=rangeInputD.value" value="{{prior.1}}" id="slider" type="range" min="-10" max="10" name="rangeInputD" style = "width: 50%"/>
						</div>
						<div style="color: #43BFC7;">'</div>
						<div>
							<input oninput="rangeInputA.value=popuTextfield.value" id="box" type="text" value="{{prior.2}}" name="popuTextfield" for="rangeInputA" oninput="rangeInputA.value=popuTextfield.value" />
							<label>Popularity: (-10 = Never reviewed) -> (10 = Everyone has tried it)</label>
							<input for="popuTextfield" oninput="popuTextfield.value=rangeInputA.value" id="slider" value="{{prior.2}}" type="range" min="-10" max="10" name="rangeInputA" style = "width: 50%"/>
	      				</div>
	      				<div style="color: #43BFC7;">'</div>
						<div>
							<input oninput="rangeInputI.value=immeTextfield.value" id="box" type="text" value="{{prior.3}}" name="immeTextfield" for="rangeInputI" oninput="rangeInputI.value=immeTextfield.value" />
							<label>Acclaim: (-10 = Poorly rated) -> (10 = Highly acclaimed)</label>
							<input for="immeTextfield" oninput="immeTextfield.value=rangeInputI.value" id="slider" value="{{prior.3}}" type="range" min="-10" max="10" name="rangeInputI" style = "width: 50%"/>
						</div>
					{% else %}
						<div>
							<input type="radio" name="typeSelect" value = "1">
							<label>Restaurants</label>
						</div>
						<div>
							<input type="radio" name="typeSelect" value = "2">
							<label>Activities</label>
						</div>
						<div>
							<input type="radio" name="typeSelect" value = "3">
							<label>Entertainment</label>
						</div>
						<div>
							<input type="radio" name="typeSelect" value = "4">
							<label>Nightlife</label>
						</div>
						<h3 class="text-uppercase">Max number of desired results?</h3>
						<div>
							<input type="text" name="resuTextfield", value = "3">
							<label>Assumes 3 by default (50 max)</label>
						</div>

						<h3 class="text-uppercase">Enter your preferences (-10 to 10)</h3>
						<div>
							<input oninput="rangeInputC.value=costTextfield.value" id="box" type="text" value="0" name="costTextfield" for="rangeInputC" oninput="rangeInputC.value=costTextfield.value" />
							<label>Price: (-10 = Cheap) -> (10 = Expensive)</label>
							<input for="costTextfield" oninput="costTextfield.value=rangeInputC.value" id="slider" type="range" min="-10" max="10" name="rangeInputC" style = "width: 50%"/>
						</div>
						<div style="color: #43BFC7;">'</div>
						<div>
							<input oninput="rangeInputD.value=distTextfield.value" id="box" type="text" value="0" name="distTextfield" for="rangeInputD" oninput="rangeInputD.value=distTextfield.value" />
							<label>Distance: (-10 = Nearby) -> (10 = A Galaxy Far Far Away)</label>
							<input for="distTextfield" oninput="distTextfield.value=rangeInputD.value" id="slider" type="range" min="-10" max="10" name="rangeInputD" style = "width: 50%"/>
						</div>
						<div style="color: #43BFC7;">'</div>
						<div>
							<input oninput="rangeInputA.value=popuTextfield.value" id="box" type="text" value="0" name="popuTextfield" for="rangeInputA" oninput="rangeInputA.value=popuTextfield.value" />
							<label>Popularity: (-10 = Never reviewed) -> (10 = Everyone has tried it)</label>
							<input for="popuTextfield" oninput="popuTextfield.value=rangeInputA.value" id="slider" type="range" min="-10" max="10" name="rangeInputA" style = "width: 50%"/>
	      				</div>
	      				<div style="color: #43BFC7;">'</div>
						<div>
							<input oninput="rangeInputI.value=immeTextfield.value" id="box" type="text" value="0" name="immeTextfield" for="rangeInputI" oninput="rangeInputI.value=immeTextfield.value" />
							<label>Acclaim: (-10 = Poorly rated) -> (10 = Highly acclaimed)</label>
							<input for="immeTextfield" oninput="immeTextfield.value=rangeInputI.value" id="slider" type="range" min="-10" max="10" name="rangeInputI" style = "width: 50%"/>
						</div>
					{% endif %}
					
					<!-- Grab the user's location -->
					<div class = "hidden">
						<input type="text" name="latiTextfield" id = "lat" value="Error">
						<input type="text" name="longTextfield" id = "long" value = "Error">
					</div>
				</form>
				<button onclick="getLocation()">Find me something!</button>
			</div>
			<!-- / caption -->
		</div>
	 </div>

  </div>
  </section>

<!-- Grab the location -->
  <script>
	var x = document.getElementById("lat");
	var y = document.getElementById("long");
	
	function getLocation() {
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(showPosition);
	    } else { 
	        x.value = "Error";
	        y.value = "Error";
	        document.getElementById('preferences').submit();
	    }
	}
	function showPosition(position) {
	    x.value = position.coords.latitude;
	    y.value = position.coords.longitude;
	    document.getElementById('preferences').submit();
	}
</script>

  <footer class="footer container-fluid text-center">
  	<div class="logo"><span>Urban Connoisseur</span></div>

	<!--you must keep the link bellow, you are not allowed to remove it, if you want to remove it please contact us at aythemes.com/contact -->
	<div class="backlink"><a href="http://ayathemes.com"> </a></div>
  </footer>

  </body>
</html>