/* This is probably irrelevant, but we'll keep it here regardless */
p {
	/*color: #FFC125; Can use hex for color specification*/
	color: black;
	font-family: Helvetica, serif; /*Try for helvetica first, else serif */
	font-size: 1.2em;
}

div {
	background-color: #cc0000;
	height: 100px;
	width: 100px;
}

td {
	border: 1 px dashed blue;
	height: 50 px;
}